*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    text-align: center;
}

h1{
    background-color: #bb2684;
    color: #000;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #bb2684;
}

.choice:active{
     opacity: 0.7;
}


img{
    height: 185px;
    width: 185x;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    display: inline;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    background-color: #e4e2ea;
    border-radius: 2rem;
}